.form-body h3 {
    color: red;
    text-align: center;
}

.form-body h2 {
    text-align: center;
    color: blue;
}

.form-body .btn {
    text-align: center;
    background-color: blue;
    border: none;
}

.add-body h2 {
    color: red;
    text-align: center;
}

.add-body btn {
    background-color: blue;
    border: none;
}

